.myform {}
.myform .tip {font-size:14px;color:#a0a0a0;}
.myform .tip_error {color:#d9534f;}
.myform .tip_success {color:#5cb85c;}

/* ±íµ¥DIV */
.form_div {overflow:hidden;}
.form_div .head {background:#428bca;background:#f8f8f8;height:60px;line-height:60px;padding-left:20px;font-size:20px;border-bottom:1px dotted #d0d0d0;color:#428bca;}
.form_div .content {background:#ffffff;padding:40px;}
.form_div .content .item  {margin-top:20px;font-size:16px;}
.form_div .content .item:first-child {margin-top:0;}
.form_div .content .item .tt {float:left;margin-top:5px;}
.form_div .content .item .tt0 {margin-top:0;}
.form_div .content .item .tt1 {margin-top:10px;}
.form_div .content .item .ct {float:left;width:500px;margin-left:20px;}
.form_div .content .item .tip {float:left;margin-left:20px;}
.form_div .content .item input[type="input"] {height:40px;font-size:16px;}
.form_div .content .item input[type="submit"] {height:40px;font-size:16px;}
.form_div .content .item select {height:40px;font-size:16px;cursor:pointer;}
.form_div .content .item textarea {height:200px;font-size:16px;}
.form_div .content .item label {background:none;font-weight:normal;cursor:pointer;}