.index_left {float:left;width:700px;background:#ffffff;padding:30px;}
.index_left .head {}
.index_left .head .item {margin-top:8px;}
.index_left .head .item:nth-child(2) {margin-top:12px;}
.index_left .head .item:first-child {margin-top:0px;}
.index_left .head .select {}
.index_left .head .select span {display:inline-block;margin-left:5px;padding:3px 8px 3px 8px;cursor:pointer;}
.index_left .head .select .active {background:#428bca;color:#ffffff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}

.index_left .content {margin-top:12px;}
.index_left .content .item {padding-top:15px;padding-bottom:15px;border-top:1px solid #cfcfcf;}
.index_left .content .item:first-child {margin-top:0px;}
.index_left .content .item .photo {float:left;width:50px;margin-top:3px;}
.index_left .content .item .photo img {height:50px; width:50px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.index_left .content .item .text {float:left;margin-left:20px;width:570px;}
.index_left .content .item .text a:hover {color:#127db3;}
.index_left .content .item .text .title {font-size:16px;font-weight:bold;color:#428bca;}
.index_left .content .item .text .info {margin-top:8px;}
.index_left .content .item .text .info span {display:inline-block;margin-left:5px;}
.index_left .content .item .text .info span:first-child {margin-left:0px;}
.index_left .content .item .text .des {margin-top:8px;color:#999999;}

.index_left .pagination {text-align:center;margin:0 auto;border-top:1px solid #cfcfcf;padding-top:25px;display:block;}
.index_left .pagination li {display:inline-block;float:none;cursor:pointer;margin-left:5px;}

.index_right {float:left;background:#ffffff;margin-left:30px;width:250px;padding:20px;}


.show_left {float:left;width:700px;background:#ffffff;padding:30px;}
.show_left .head {border-bottom:1px solid #cfcfcf;padding-bottom:10px;}
.show_left .head .info {float:left;}
.show_left .head .info .title {font-size:20px;font-weight:bold;color:#428bca;}
.show_left .head .info .content {margin-top:5px;font-size:16px;}
.show_left .head .info .content span {display:inline-block;margin-left:10px;}
.show_left .head .info .content span:first-child {margin:0;}
.show_left .head .user {float:right;}
.show_left .head .user .text {float:left;margin-right:10px;}
.show_left .head .user .text span {display:block;text-align:right;vertical-align:bottom;}
.show_left .head .user .text span:first-child {font-size:14px;margin-top:11px;}
.show_left .head .user .text span:last-child {font-size:14px;margin-top:3px;}
.show_left .head .user .photo {float:left;}
.show_left .head .user img {width:55px;}
.show_left .content {margin-top:20px;font-size:16px;line-height:26px;}
.show_left .foot {border-top:1px solid #cfcfcf;margin-top:20px;padding-top:20px;}
.show_left .foot span {display:inline-block;margin-left:10px;}
.show_left .foot span:first-child {margin-left:0;}

.show_right {float:left;background:#ffffff;margin-left:30px;width:250px;padding:20px;}
.show_right .phone {text-align:center;}